@use '../abstracts' as *
@use "../../../node_modules/breakpoint-slicer" as bs
@use '../abstracts/mixins/_admin-mixins' as *

//? admin
section.admin-container
    @include flex($align: stretch, $justify: flex-start)
    background: $bgc-admin
    position: relative

    >nav.terminal
        @include sidebar-body($trsX: translateX(-100%))
        @include bs.from(xl)
            @include flex($direction: column, $align: stretch, $justify: flex-start)
            position: static
            transform: translateX(0)
            min-width: 12em
            z-index: 0
            opacity: 1
            flex: 0
        >*
            padding: .75em
        >.head
            @include flex($gap: 2em)
            background-color: $bgc-admin-terminal-dark
            border-bottom: $brd-admin-gray
            >a
                @include headLink
            >button 
                background: none
                border: none
                color: $fc-admin-white
                @include bs.from(xl)
                    display: none
                >svg
                    width: 2rem
                    min-width: 2rem
                    transform: rotate(180deg)
                    transition: $trs-instant
                    cursor: pointer
                    &:hover
                        color: $fc-subsidiary-hilight
        >.admin
            background-color: $bgc-admin-terminal-dark
            border-bottom: $brd-admin-gray
            >a
                @include headLink
                >div
                    overflow: hidden
        >.search
            @include adminSearch($fc-svg: $fc-admin-white, $bgc: $bgc-admin-terminal-soft, $bl: $fc-admin-white-soft)
        >.dashboard
            @include flex($direction: column, $align: stretch, $gap: 1.2em)
            font-size: .9em
            >ul >li
                transition: $trs-basic
                overflow: hidden
                &.current
                    >a, >a:hover
                        background-color: $bgc-admin-current
                        color: $fc-admin-white
                        >svg
                            transform: rotate(-90deg)
                    >ul 
                        opacity: 1
                        height: unset
                        >li.current >a
                            background-color: $bgc-admin-gray
                            color: $fc-admin
                svg
                    font-size: 1.6em
                >a
                    @include sidebar-link
                >ul 
                    opacity: 0
                    height: 0
                    transition: $trs-basic
                    >li >a
                        @include sidebar-link($bgc-hover: $bgc-admin-terminal-soft, $justify-content: flex-start)
                        padding: .5em .75em
                        margin: 0 2em .5em 0
            >p.label
                text-transform: uppercase
                background-color: $bgc-admin-terminal-dark
                align-self: flex-start
                padding: .5em
                margin-left: .5em
                border-radius: 5px
                font-weight: bolder

    >div.controls
        @include flex($direction: column, $justify: flex-start, $align: stretch)
        flex: 1
        width: 70%
        color: $fc-admin
        min-height: 100vh
        >*:not(:first-child)
            margin: 1em
            
        >.head
            background-color: $bgc-admin-white
            border-bottom: 1px solid $bgc-admin-line
            padding: 1em
            @include flex($justify: flex-start, $align: center, $gap: 1em)
            >button
                @include sidebar-button
                @include bs.from(xl)
                    display: none
                >svg
                    width: 1.4rem
                    min-width: 1.4rem
                    transform: translateY(.05em)
            >.breadcrumbs
                @include flex($gap: .2em)
                font-size: 1.1em
                text-transform: capitalize
                color: #90989e
                white-space: nowrap
                a
                    cursor: pointer
                >span
                    cursor: default
                >div:not(:last-of-type) >a
                    color: inherit
                    &:hover
                        filter: brightness(50%)
                >div:last-of-type >a
                    color: $bgc-admin-current !important
                    &:hover
                        filter: brightness(150%)
            >.links
                @include flex
                margin-left: auto
                >a
                    @include flex
                    padding: .15em .25em
                    background-color: $bgc-admin-gray
                    color: $bgc-subtle
                    font-size: 2em
                    transition: $trs-instant
                    &:hover
                        background-color: $bgc-subsidiary-hilight                    
        >.title
            @include flex
            >h2
                font-size: 1.7em
                font-weight: 400
            >div
                @include flex($gap: 1em)
                margin-right: 1em
            button
                @include sidebar-button
                >svg#filter-icon
                    transform: translateY(.15em)

        >.dashboard-container
            // @include flex($direction: column, $align: stretch, )
            @include grid($columns: 1fr, $gap: 1em)
            @include bs.from(xl)
                grid-template-columns: 1fr 1fr
            >.notification
                @include grid($columns: 1fr, $gap: 1em)
                @include bs.from(m)
                    grid-template-columns: 1fr 1fr
                @include bs.from(xl)
                    grid-column: span 2
                >div
                    @include flex($direction: column, $align: stretch)
                    border-top-left-radius: 5px
                    border-top-right-radius: 5px
                    >div.head
                        @include flex
                        padding: .8em
                        border-bottom: $brd-admin-gray
                        >p
                            display: inline-flex
                            font-size: 1.1em
                            font-weight: 400
                        >div
                            display: inline-flex
                            @include flex
                            >p
                                text-decoration: underline
                                font-size: .9em
                                cursor: pointer
                            &:hover
                                color: $fc-admin-white
                    >div.collapse-container
                        filter: brightness(80%)
                        @include flex($direction: column, $align: stretch)
                        >div
                            padding: .4em .8em
                            border-bottom: $brd-admin-gray
                            transition: $trs-instant
                            cursor: pointer
                            &:hover
                                filter: brightness(120%)
                            &:last-of-type
                                border-bottom: none
                div.Reports >div, div.Reports >div >div
                    background: $bgc-admin-current
                div.Warnings >div, div.Warnings >div >div
                    background: $fc-admin-warning
                div.Dangers >div, div.Dangers >div >div
                    background: $fc-admin-delete
                div.Success >div, div.Success >div >div
                    background: $fc-meta
            >.chart-container
                background-color: $bgc-admin-white
                border: $brd-admin-gray
                border-radius: 5px
                >p
                    @include flex($justify: flex-start, $gap: .5)
                    padding: .8em
                    font-size: 1em
                    font-weight: 400
                    background: $bgc-hilight-soft
                    >svg
                        font-size: 1.2em
                >div.chart
                    margin: 1em auto
                    position: relative
                    width: 300px
                    height: 150px
                    @include bs.from(s)
                        width: 400px
                        height: 200px
                    @include bs.from(m)
                        width: 600px
                        height: 300px
                    @include bs.from(l)
                        width: 800px
                        height: 400px
                    @include bs.from(xl)
                        width: 600px
                        height: 300px
        
        >.list-container
            @include flex($direction: column, $align: stretch)
            border: $brd-admin-gray
            background-color: $bgc-admin-white
            width: 95vw
            margin: 1em 
            @include bs.from(m)
                margin: 1em auto
            @include bs.from(xl)
                width: unset
                margin: 1em 
            >form
                @include adminSearch($fc: $fc-admin, $bgc: $bgc-admin-white, $bl: $bgc-admin-line-dark, $flex-short: none)
                padding: 1em
                border-bottom: $brd-admin-gray
                button
                    background: $bgc-admin-current
                    color: $fc-admin-white
                button:disabled
                    background: $bgc-subtle
                    filter: brightness(50%)
                    color: black
                    cursor: default
            >form.editor
                @include grid($columns: 1fr, $gap: .5em)
                @include bs.from(m)
                    grid-template-columns: 1fr 1fr
                @include bs.from(xxl)
                    grid-template-columns: 1fr 1fr 1fr
                label
                    @include flex
                    text-transform: capitalize
                    font-weight: 500
                    >input, >.selection
                        flex: 10
                        >div
                            border-radius: 0
                        &:disabled
                            background: $bgc-disabled
                    >p
                        height: 100%
                        padding: 0 .4em
                        text-align: center
                        border: none
                        background: $bgc-subtle
                        color: $fc-default
                        text-transform: capitalize
                        font-size: .9em
                        font-weight: 500
                        flex: 2
                        margin: auto
                        white-space: pre
                        @include flex($justify: center)
            >.search
                @include adminSearch($fc: $fc-admin, $bgc: $bgc-admin-white, $bl: $bgc-admin-line-dark, $flex-short: none)
                padding: 1em
            >ul.table
                &.col-6
                    @include grid($columns: minmax(min-content, 1fr) minmax(min-content, 1fr) repeat(5, minmax(min-content, .5fr)))
                overflow-x: auto
                white-space: nowrap
                >li
                    @include flex()
                    padding: .5em 1em
                    border-top: $brd-admin-gray
                    >svg
                        font-size: 1.5em
                .edit, .delete
                    justify-content: center
                    transition: $trs-instant
                    cursor: pointer
                .edit:hover
                    color: $fc-admin-edit
                .delete:hover
                    color: $fc-admin-delete
                .table-head
                    padding: .75em 1em
                    font-weight: 500
                    text-transform: capitalize
                    color: $fc-admin
                    cursor: unset
                    &.edit, &.delete
                        color: unset !important
            >.pagination
                border-top: $brd-admin-gray
                padding: 1em
                >ul
                    @include flex($align: stretch, $justify: center)
                    >li
                        @include flex()
                        padding: .5em
                        border: 1px solid $bgc-admin-line-dark
                        border-left: none
                        transition: $trs-instant
                        cursor: pointer
                    li:not(.current):hover
                        background-color: $bgc-subsidiary-hilight
                        color: $fc-hilight-subsidiary
                    >li:first-child
                        border-left: 1px solid $bgc-admin-line-dark
                    >li.current
                        background-color: $bgc-admin-current
                        color: $fc-admin-white

        >div.game-edit
            background: $bgc-admin-white
            @include flex($justify: flex-start, $align: stretch, $direction: column)
            @include bs.from(l)
                flex-direction: row
                align-items: flex-start
            >*
                padding: 1em
            >form
                flex: 1
                @include grid($columns: 50% 50%, $gap: 1.5em)
                >.col-1
                    grid-column: span 1
                >.col-2
                    grid-column: span 2
                input[type=file]
                    display: none
                >div
                    position: relative
                    @include flex($align: center, $gap: .75em)
                    >label
                        font-weight: bold
                        white-space: nowrap
                    >input
                        flex: 1
                        @include inputText
                    >.selection
                        flex: 1
                        color: $fc-admin
                        >div
                            @include inputText
                            border-radius: 0
                            padding: .2em .5em
                            >div
                                padding: 0
                    >strong.danger
                        position: absolute
                        bottom: -1.5em
                        right: 0
                        font-size: .8em
                        color: $fc-admin-delete
                >.images-uploader
                    @include flex($justify: center, $gap: .5em)
                    >.loader
                        @include Loader($color: $bgc-admin-current,$match-color: $bgc-admin-white)
                    >strong
                        font-size: 1.2em
                >.published
                    justify-content: center
                    >fieldset
                        border: none
                        >input
                            cursor: pointer
                            transform: scale(1.5)
                .custom-button
                    background: $bgc-admin-terminal-softer
                    border: none
                    border-radius: 0
                    padding: .5em
                    transition: $trs-instant
                    cursor: pointer
                    font-weight: 600
                    width: 100%
                    text-align: center
                    height: 3em
                    @include flex($justify: center)
                    &:hover
                        filter: brightness(150%)
                    &:disabled
                        filter: brightness(50%)
                .submit
                    background: $fc-admin-edit
                    filter: brightness(90%)
                        
            >div.image-preview
                flex: 1
                >div
                    max-width: 400px
                    margin: 0 auto
                    >strong
                        width: 100%
                        display: block
                        padding: .5em
                        border: 1px solid $bgc-admin-line-dark
                    >div
                        padding: .5em
                        background: $bgc-admin-terminal-soft
                        color: $fc-admin-white
                        text-align: center
                >div.secondary
                    >strong
                        grid-column: span 2
                    >div
                        @include grid($columns: 1fr 1fr, $gap: .5em)

    >div.filter-controls
        @include sidebar-body($trsX: translateX(100%), $direction: right)
        max-width: 20em
        @include bs.from(xl)
            max-width: 25em
        >*
            padding: .75em
        >.head
            background-color: $bgc-admin-terminal-dark
            border-bottom: 1.5px solid $bgc-subsidiary
            font-size: 1.2em
            >p 
                @include flex($gap: 2em)
                >button
                    @include sidebar-button($bgc: $bgc-admin-gray, $fc: $fc-admin)
                    >svg
                        transform: rotate(180deg)
        >form
            @include grid($columns: 1fr, $gap: 1em)
            @include bs.from(xl)
                @include grid($columns: 1fr 1fr, $gap: 1em)
            >div.option
                @include filterSkeleton
                >div
                    @include filterOptionButton
            >div.selection
                @include filterSkeleton
                >div
                    @include filterSelection

    >div.sidebar-overlay
        @include overlay

div.fallBack
    height: 100vh
    width: 100vw
    @include flex($justify: center)
    >a
        display: block
        border-radius: 5px
        padding: 1em
        transition: $trs-instant
        cursor: pointer
        background: $bgc-subsidiary-subtle-soft
        &:hover
            background: $bgc-subsidiary-hilight