@use '../abstracts' as *
@use '../abstracts/mixins/_header-mixins' as *
@use "../../../node_modules/breakpoint-slicer" as bs
    
//? Header
header 
    transition: $trs-basic
    position: relative
    background-color: $bgc-default
    padding: .5em 0
    z-index: 15
    &.dropdown-active
        height: 80vh
    &.transparent
        background: none
    nav
        position: relative
        @include grid( $columns: repeat(8, 1fr), $gap: .5em)
        align-items: center
        @include bs.from(xl)
            @include desktop-container
            @include grid( $columns: repeat(16, 1fr), $gap: .5em)

        >div.logo-container
            @include flex($justify: center)
            grid-column: span 1
            padding-left: 1em
            @include bs.from(xl)
                grid-column: span 1
                @include flex($justify: flex-start)
                padding: 0
            >a
                >div
                    width: 3.5em

        >form
            @include flex($gap: .2em)
            align-self: center
            grid-column: span 6
            background-color: $bgc-subtle
            border-radius: 1em
            transition: 0.3s
            overflow: hidden
            position: relative
            @include bs.from(xl)
                grid-column: span 8
            ::placeholder
                text-transform: capitalize
            &:hover
                background-color: $bgc-hilight
            >svg
                flex: 1
                cursor: pointer
                transition: $trs-instant
            >svg:first-child
                padding: .25em 0
                color: $fc-default
                font-size: 2.3em
                &:hover
                    color: $fc-subsidiary !important
            >svg:last-child
                opacity: 0
                color: $fc-subsidiary-hilight
                font-size: 1.5em
                z-index: -5
                &:hover
                    opacity: 1 !important
            >input
                flex: 11
                background: none
                border: none
                color: $fc-default
                font-size: 1.15em
            &:hover > input,&:hover > svg:first-child
                color: $bgc-important

        >div.sublinks
            @include flex($justify: center, $align: stretch, $gap: .5em)
            align-self: stretch
            grid-column: span 1
            padding-right: 1em
            @include bs.from(xl)
                grid-column: span 7
                gap: 1em
                padding-right: 0
            @include animated-nav-bar
            #bars
                order: 2
                align-self: center
                @include bs.from(xl)
                    display: none
            >ul 
                display: none
                order: 1
                @include bs.from(xl)
                    @include flex($align: stretch, $gap: .8em)
                >li
                    display: inline-block
                    @include flex($align: stretch)
                    position: relative
                    >a
                        color: $fc-default
                        text-transform: uppercase
                        font-size: 1.1em
                        font-weight: 700
                        @include flex($align: center)
                        &:hover
                            color: $fc-important
                    >.mobile-submenu
                        @include sublinks
            >div.user-container
                @include flex()
                align-self: stretch
                order: 1
                position: relative
                >div.avatar-container
                    position: relative
                    >div.avatar
                        @include flex
                        overflow: hidden
                        width: 2.5em
                        border-radius: 25px
                        cursor: pointer
                        &:hover
                            filter: brightness(90%)
                    >div.cart-container
                        position: absolute
                        top: -5%
                        right: -5%
                        width: 18px
                        height: 18px
                        background: $bgc-subsidiary-hilight
                        border-radius: 50%
                        @include flex
                        >svg
                            transform: translateX(-1px)
                            margin: auto
                            font-size: .7rem
                >div.user-sublinks
                    @include sublinks
                    top: 100%
                    left: -100%